<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New animal</title>
  <link rel="stylesheet" href="/css/new.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <%- include('partials/_header') %> 
  <div class='all'>
  <h1>A new homeless animal info:</h1>
<div class='group'>
  <form action="/api/animals", method="POST">
   <label for="">What animal is it?</label>
   <input type="text" name='Btype'>
   <label for="">What breed is it?</label>
   <input type="text" name='Stype'>
   <label for="">Where did you find it?</label>
   <input type="text" name="placeFound">
   <label for="">When did you find it?</label>
   <input type="text" name="found">
   <label for="">Is it healthy?</label>
   <input type="text" name="status">
   <label for="">Image</label>
   <input type="text" name="imageURL">
   <label for="">Physical conditon?</label>
   <input type="text" name="physical_conditon">
   <label for="">Any description?</label>
   <input type="text" name="description">
   <button class='btn btn-success mt-30'type='submit'>Submit</button>
  </form>
</div>
</div>
</body>
</html>