<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>individual animal</title>
  <link rel="stylesheet" href="/css/animal.css">
</head>
<body>
  <h2>this is individual animal</h2>
  <h2><%= animal.Btype%>:<%=animal.Stype%></h2>
  <img src=<%= animal.imageURL%> alt="">
  <div><%= animal.placeFound%></div>
  
</body>
</html>