<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New animal</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>
  <h1>A new homeless animal?</h1>

  <form action="/api/animals", method="POST">
   <label for="">What animal is it?</label>
   <input type="text" name='Btype'>
   <label for="">What breed is it?</label>
   <input type="text" name='Stype'>
   <label for="">Where did you find it?</label>
   <input type="text" name="placeFound">
   <label for="">When did you find it?</label>
   <input type="text" name="found">
   <label for="">Is it healthy?</label>
   <input type="text" name="status">
   <label for="">Image</label>
   <input type="text" name="imageURL">
   <label for="">Physical conditon?</label>
   <input type="text" name="physical_conditon">
   <label for="">Any description?</label>
   <input type="text" name="description">
   <button type='submit'>Submit</button>
  </form>
</body>
</html>