*{
  margin:0;
  padding:0;
}

img{
  width:300px;
  height:auto;

}
body{
  font-size: small;

}

.all-animals{
  display:flex;
  flex-wrap: wrap;
}
.each-animal{
  width:300px;
  border: 2px solid grey;
  margin:20px;

}