*{
  margin:0;
  padding:0;
}

img{
  width:300px;
  height:250px;

}
body{
  font-size: small;

}
h3{
  margin-left:60px;
  
}

.all-animals{
  display:flex;
  flex-wrap: wrap;
}
.each-animal{
  width:300px;
  height:380px;
  border: 2px solid grey;
  box-shadow: 3px 3px grey;
  margin:20px;
}

a{
  display: inline-block;
  margin-left:80px;
  margin-top:40px;
  text-decoration: none;
  color:rgb(66, 65, 65);
  font-size: large;
}
a:hover{
  color:black;
}